<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>无保险不远游</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <!-- WebApp全屏模式   隐藏地址栏-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no,email=no" name="format-detection">
    <!--禁止百度转码显示-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="keywords" content="无保险不远游"/>
    <meta name="description" content="无保险不远游"/>
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript">
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth >= 640) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                    }
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <!--百度统计代码-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a7b64a3f4b23f48a61ea0fd37413ba54";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body class="bg_e8">
    <section class="season-index">
        <header class="m-header f-cb">
            <img src="../static/img/logo_tbnet.png" alt="" class="fl logo-img">
            <p class="fl">
                <a href="https://product.implus100.com/medical/views/medical.html"><img src="../static/img/nav_01.png" alt="">医疗指南</a>
                <a href="https://product.implus100.com/ad/travel/views/index.html"><img class="nav2" src="../static/img/nav_02.png" alt="">旅游指南</a>
                <a href="https://product.implus100.com/ad/accident/views/index.html"><img src="../static/img/nav_03.png" alt="">意外指南</a>
            </p>
        </header>
        <div class="m-container mt55">
            <div class="banner">
                <img src="../static/img/season_01_banner.jpg" alt="">
            </div>
            <div class="pannel b_bdashed">
                <ul>
                    <li>
                        <img class="subsidies" src="../static/img/season_subsidy.png" alt="">
                        <p class="mt5">7月-8月，投保任意一款带“返”的产品，<strong>可获得保费10%~80%不等的现金补贴</strong>。</p>
                        <img class="mt30" src="../static/img/season_fan.png" alt="">
                        <a href="fan.html" class="know-btn">了解活动详情</a>
                    </li>
                </ul>
            </div>
            <div class="pannel pt35">
                <ul>
                    <li>
                        <img style="margin-left: -0.18rem;" class="_mt30" src="../static/img/season_dolphin.png" alt="">
                        <p class="mt30">7月-8月，在微信粉丝群参与抽奖，有机会<strong>领取免费长隆水上世界门票1张</strong>。</p>
                        <a href="lottery.html" class="know-btn">了解活动详情</a>
                    </li>
                </ul>
            </div>
            <div class="product star_list">
                <p><img src="../static/img/star_txt.png" alt=""></p>
                <div id="wrapper"  class="list_con">
                    <ul class="f-cb category_nav">
                        <li>
                            <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD160426705042&promotionCode=INST170623538004&openOrderNo=P201706131053075240025663000&payChannel=wxpay,alipay&accessChannel=mobile">
                                <img src="../static/img/start_list_01.jpg" alt="">
                                <p>航班起飞延误险</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD160550924006&promotionCode=INST170684717007&openOrderNo=P201706131055032640025663004&payChannel=wxpay,alipay&accessChannel=mobile">
                                <img src="../static/img/start_list_02.jpg" alt="">
                                <p>亲子旅行意外险</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD161120369050&promotionCode=INST170686617009&openOrderNo=P201706131058228210025642048&payChannel=wxpay,alipay&accessChannel=mobile">
                                <img src="../static/img/start_list_03.jpg" alt="">
                                <p>尊享e生100万医疗险</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product care_list">
                <p><img src="../static/img/like_txt.png" alt=""></p>
                <ul>
                    <li><a href=""><img src="../static/img/you_care_01.jpg" alt=""></a></li>
                    <li><a href=""><img src="../static/img/you_care_02.jpg" alt=""></a></li>
                    <li><a href=""><img src="../static/img/you_care_03.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="m-footer">
            <div class="focus">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzA4NTM0Mzc0Nw==&amp;scene=124#wechat_redirect&#10;">+
                    关注</a>
                <img src="../static/img/focus.png" alt="">
            </div>
            <ul class="attribution">
                <li>中国保险行业协会互联网保险信息披露备案</li>
                <li>新ICP备17000889号-4</li>
                <li>技术支持由新疆益盛鑫网络科技有限公司提供</li>
            </ul>
        </div>
    </section>
    <script src="../static/iscroll.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            window.addEventListener('load',function(){
                var $wrapper = document.getElementById('wrapper'),
                    $ul = $wrapper.querySelector('ul'),
                    liArray = $wrapper.querySelectorAll('li'),
                    liNum = liArray.length;
                $ul.style.width = (liArray[0].clientWidth + 12)*3 +"px";
                var carousel=new iScroll("wrapper",{hScrollbar:false, vScrollbar:false});

            });
        });
    </script>
</body>
</html>
