<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>无保险不远游</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <!-- WebApp全屏模式   隐藏地址栏-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no,email=no" name="format-detection">
    <!--禁止百度转码显示-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="keywords" content="无保险不远游"/>
    <meta name="description" content="无保险不远游"/>
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript">
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth >= 640) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                    }
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <!--百度统计代码-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a7b64a3f4b23f48a61ea0fd37413ba54";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <section class="season-fan">
        <header>
            <h1><img src="../static/img/lottery_header_01.jpg" alt=""></h1>
        </header>
        <div class="m-container mt30">
            <div class="step tl step2">
                <img class="step_txt" src="../static/img/lottery_01.png" alt="">
                <p class="mtb25">加入探小保的补贴群，每满100人开启1轮微信随机红包抽奖。</p>
                <div class="contact f-cb">
                    <img src="../static/img/season_fan_06.png" alt="" class="fl">
                    <div class="who fl">
                        <strong>探小保</strong>
                        <p>微信号：<span>anxinbaokf</span></p>
                    </div>
                </div>
            </div>
            <div class="step step2">
                <img class="step_txt" src="../static/img/lottery_02.png" alt="">
                <p class="mt20">每轮红包手气最好的中奖。</p>
                <img class="mt20 prize" src="../static/img/lottery_04.jpg" alt="">
            </div>
            <div class="step step3">
                <img class="step_txt" src="../static/img/lottery_03.png" alt="">
                <p class="mt20">中奖者在中奖后购买平台任意一款旅游险，就能免费获得价值XXX元的广州长隆欢乐世界门票1张。</p>
            </div>
        </div>
    </section>
</body>
</html>
