@charset "UTF-8";
@media screen and (min-width: 320px) { html{font-size: 38.4rem} html,body{max-width: 640px;margin:0 auto;min-height: 100%} }
/* css reset */
html,body {
    -webkit-user-select:none;
    user-select: none;
}
a,body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,label,li,ol,p,select,span,table,td,textarea,th,tr,ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 14px;
    font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
    color:#333;
    line-height: 1.2;
    letter-spacing: 1px;
    -webkit-text-size-adjust:100%;
}
h1,h2,h3,h4,h5 {
    font-weight: bold;
    font-size: 1rem;
}
ol,ul,li {
    list-style: none
}
img {
    border: 0;
    width: 100%;
    display: block;
}
input {
    border: 0;
    font-size: 0.9rem;
    line-height: 1.2;
}
button,input,select,textarea {
    outline: medium none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
button{
    border: none;
    background: transparent
}
textarea {
    resize: none
}
a {
    text-decoration: none;
    cursor: pointer;
}
a, input, textarea,button,span,li {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
b,em,i {
    font-style: normal
}
table{
    border-collapse: collapse;
}

.fl {
    float: left
}
.fr {
    float: right
}
.f-cb:after{
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.disnone {
    display: none;
}
.disabled {
    pointer-events: none;
}

/*.icon*/
.icon {
    background: url(img/icon.png) no-repeat;
}

/* 布局 */
.w1200{
    margin: 0 auto;
    width: 1200px;
}

/*外边距*/
.ml0 {
    margin-left: 0;
}
.ml5{
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}
.ml30{
    margin-left: 30px;
}
.ml50{
    margin-left: 50px;
}
.ml60 {
    margin-left: 60px;
}
.mtb10 {
    margin: 10px 0;
}
.mtb20{
    margin: 20px 0;
}
.mtb40{
    margin: 40px 0;
}

.mlr5{
    margin: 0 5px;
}
.mlr10 {
    margin-left: 10px;
    margin-right: 10px;
}
.mlr20 {
    margin: 0 20px;
}

.m10 {
    margin: 10px;
}

.mt5{
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt120{
    margin-top: 120px;
}

.mr0{
    margin-right: 0;
}
.mr5{
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.mr20{
    margin-right: 20px;
}
.mr25{
    margin-right: 25px;
}
.mr30{
    margin-right: 30px;
}
.mr40{
    margin-right: 40px;
}

.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}

/*内边距*/
.p40 {
    padding: 40px;
}
.p20 {
    padding: 20px;
}
.p15 {
    padding: 15px;
}
.p10 {
    padding: 10px;
}
.p5 {
    padding: 5px;
}
.p15 {
    padding: 15px;
}

.pt10 {
    padding-top: 10px;
}
.pt15{
    padding-top: 15px !important;
}
.pt20 {
    padding-top: 20px;
}
.pt30{
    padding-top: 30px;
}

.pr10 {
    padding-right: 10px;
}
.pr20 {
    padding-right: 20px;
}
.pr30 {
    padding-right: 30px;
}

.pb10 {
    padding-bottom: 10px;
}
.pb15 {
    padding-bottom: 15px;
}
.pb20 {
    padding-bottom: 20px;
}

.pl5 {
    padding-left: 5px;
}
.pl15{
    padding-left: 15px;
}
.pl10{
    padding-left: 10px;
}
.pl20{
    padding-left: 20px;
}

.ptb10{
    padding: 10px 0;
}
.ptb20{
    padding: 20px 0;
}

.plr5 {
    padding: 0 5px;
}
.plr10 {
    padding: 0 10px;
}
.bg_f0{
    background-color: #f0f0f0;
}

/*  g-index  */
.m-claims {
    margin: 0.22rem 0.18rem;
    padding: 0.2rem 0.25rem;
    background: #fff;
    border-radius: 3px;
}
.g-index .m-header .m-claims p b {
    width: 0.06rem;
    height: 0.25rem;
    background: #fc7a1b;
    vertical-align: -0.02rem;
    margin-right: .12rem;
    display: inline-block;
    border-radius: 2px;
}
.g-index .m-header .m-claims p {
    font-size: 0.28rem;
    color: #393939;
    font-weight: bold;
}
.g-index .m-header .m-claims table {
    width: 100%;
    margin-top: 0.22rem;
}
.g-index .m-header .m-claims table img {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 auto;
}
.g-index .m-header .m-claims table p {
    font-size: 0.2rem;
    color: #868686;
    margin-top: 0.15rem;
    font-weight: normal;
}
.g-index .m-header .m-claims table tr td {
    position: relative;
    text-align: center;
    padding: 0 0.05rem;
}
.g-index .m-header .m-claims table tr td:not(:last-child)::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    margin: -0.25rem -0.18rem;
    background: url(img/i_process_next.png) no-repeat;
    background-size: cover;
    width: 0.31rem;
    height: 0.13rem;
}
.g-index .m-header .m-claims table tr td:nth-child(2)::after {
    margin: -0.25rem -0.23rem;
}
.g-index .m-header .m-claims table tr td:nth-child(3)::after {
    margin: -0.25rem -0.01rem;
}
.g-index .m-container .nav {
    position: relative;
}
.g-index .m-container .nav li {
    float: left;
    font-size: 0.28rem;
    color: #a1a1a1;
    margin-right: 35px;
    line-height: 0.48rem;
    padding-bottom: 0.08rem;
    cursor: pointer;
    font-weight: bold;
}
.g-index .m-container .nav .active {
    color: #393939;
}
.g-index .m-container .nav p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 1.18rem;
    height: 0.05rem;
    -webkit-border-radius: 0.03rem;
    -moz-border-radius: 0.03rem;
    border-radius: 0.03rem;
    background: #fc7a1b;
    text-align: center;
}
.g-index .m-container .nav p b {
    position: absolute;
    bottom: 0.04rem;
    left: 50%;
    margin-left: -0.045rem;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -0.05rem;
    border-style: dashed dashed solid dashed;
    border-width: 0.09rem;
    border-color: transparent transparent #fc7a1b transparent;
    overflow: hidden;
    zoom: 1;
    font-size: 0;
}
.g-index .m-container .content {
    padding-top: 0.12rem;
}
.g-index .m-container .content .con_list li {
    display: -webkit-box;
    padding: 0.22rem 0.2rem 0.24rem;
    border-bottom: 1px solid #dfdfdf;
}
.g-index .m-container .content .con_list li:last-child {
    border: none;
}
.g-index .m-container .content .con_list li .flex {
    -webkit-box-flex: 1.0;
    font-size: 0.26rem;
    color: #adadad;
}
.g-index .m-container .content .con_list li .flex:first-child {
    color: #f4a51e;
}
.g-index .m-container .content .con_list li .flex a {
    background: #fdad23;
    color: #fff;
    -webkit-border-radius: 0.03rem;
    -moz-border-radius: 0.03rem;
    border-radius: 0.03rem;
    padding: 0.1rem 0.15rem;
    font-size: 0.28rem;
    box-shadow: 0 0.06rem 0 rgba(223,150,24,1);
}
.g-index .m-container .content .con_list li .flex:last-child {
    text-align: right;
}
.g-index .m-container .content .con_list li .flex:nth-child(2){
    text-align: center;
}
.g-index .m-container .content .con_list li .flex:not(:last-child) {
    padding-top: 0.03rem
}

.g-index .m-container .content .con_list .app_list li {
    border: 0.01rem solid #f9f9f9;
    float: left;
    padding: 0;
    display: block;
    cursor: pointer;
}
.g-index .m-container .content .con_list .app_list li a {
    display: block;
    cursor: pointer;
}
.g-index .m-container .content .con_list .app_list li a img {
    width: 1.81rem;
}

.m-popup {
    position: relative;
    z-index: 10;
}
.m-popup .layershade,
.m-popup .layer_con {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.m-popup .layershade {
    background: rgba(0,0,0,0.4);
}
.m-popup .layer_con {
    display: table;
    z-index: 100;
}
.m-popup .layer_con .type_box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.m-popup .layer_con .type_box .child {
    position: relative;
    width: 4.7rem;
    background: #fff;
    border-radius: 5px;
    padding: 0.22rem 0.22rem 0;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: -1rem;
}
.m-popup .layer_con .type_box .child img {
    width: 4.3rem;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #e9e9e9;
}
.m-popup .layer_con .type_box .child p {
    color: #626262;
    font-size: 0.24rem;
    line-height: 0.5rem;
    margin-top: 0.05rem;
}
.m-popup .layer_con .type_box .child a {
    display: block;
    position: absolute;
    bottom: -0.96rem;
    left: 50%;
    margin-left: -0.25rem;
    cursor: pointer;
}
.m-popup .layer_con .type_box .child a img {
    width: 0.51rem;
    border: none;
}

.g-index .m-footer {
    margin: 0.22rem 0.18rem;
}
.g-index .m-footer li {
    font-size: 0.2rem;
    color: #908f8f;
    text-align: center;
    margin-top: 0.05rem;
}





