.lhz_cont ul li{ width:292px; position:relative; height:315px; margin:0 0 20px 26px; display:inline; border:1px solid #7cbde8; background:#fff; float:left; line-height:21px; font-size:12px;}
.lhz_cont ul li:hover{border:1px solid #d35400;}
.lhz_cont ul li h3{ background:#e4f4ff; height: 38px;  line-height: 38px; border-bottom:1px solid #7cbde8; text-align: center; font-size:16px;overflow:hidden;}
.lhz_cont .imglogo{ width:272px; padding:10px 10px 6px; height:130px;}
.lhz_cont .imglogo img{width:272px;height:130px;}
.lhz_cont ul p{padding:0 10px 0; color:#333;}
.sh_but{ position:absolute; bottom:10px; left:5px; width:272px; line-height:30px;}
.sh_but a{text-align:center; width:87px; display:block; background:#3498db; float:left; color:#fff; margin-right:3px; font-weight:bold; font-size:14px;}
.sh_but a.sh_butl{ border-right:1px solid #f1f1f1;}
.lhz_cont ul li .red{ color:#d35400}
.gj_yxhot {
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 37px;
}