<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
    <!--Set render engine for 360 browser-->
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Page-Enter" content="revealTrans(duration=4.0, transition=22)">
    <meta http-equiv="Page-Exit" content="revealTrans(duration=4.0, transition=22)">
    <!--No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!--Add to homescreen for Chrome on Android-->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="贷款">
    <!--Tile icon for Win8(144x144+tile color)-->
    <meta name="msapplication-TileColor" content="#0e90d2">
    <title>涨姿势！这些医疗险更适合你！</title>
    <meta name="Keywords" content="医疗险">
    <meta name="Description" content="上有老下有小，没有一份医疗险怎么行？">
    <link rel="stylesheet" href="../static/style.css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f049e85ee3996559a4b8002d5969c033";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
    <section class="g-index">
        <div class="m-banner">
            <img src="../static/img/banner.jpg" alt="">
        </div>
        <div class="m-content">
            <div class="pannel pannel_01">
                <h3>百万住院医疗</h3>
                <p class="age">（<img src="../static/img/age60.png" alt=""> ）岁</p>
                <p class="desc">高保额住院保障，作为社保的补充减轻家庭负担。</p>
                <div class="list">
                    <ul class="f-cb">
                        <li>
                            <img src="../static/img/p01_product_01.jpg" alt="">
                            <p>安心综合医疗保险</p>
                            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc3a3393c076350a9&redirect_uri=https%3A%2F%2Fweixin.answern.com%2Fapicwx%2Fproduct%2FhealthAccProInfo%3Fid%3D29&response_type=code&scope=snsapi_base&state=1#wechat_redirect
">去看看</a>
                        </li>
                        <li>
                            <img src="../static/img/p01_product_02.jpg" alt="">
                            <p>尊享e生100万医疗险</p>
                            <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD161120369050&promotionCode=INST170686617009&openOrderNo=P201706131058228210025642048&payChannel=wxpay,alipay&accessChannel=mobile
">去看看</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pannel_02">
                <div class="pannel">
                    <h3>妈妈专属</h3>
                    <p class="age">（ 母婴双重保障 ）</p>
                    <p class="desc">高保额住院保障，作为社保的补充减轻家庭负担。</p>
                </div>
                <div class="list">
                    <img class="pic" src="../static/img/pannel_02.jpg" alt="">
                    <a href="http://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD170203460001&promotionCode=INST170630333008&openOrderNo=P201706071125591660025326647&payChannel=wxpay,alipay&accessChannel=h5
" class="btn btn_01">去看看</a>
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD170293707005&promotionCode=INST170637733009&openOrderNo=P201706071126451070025347715&payChannel=wxpay,alipay&accessChannel=h5
" class="btn btn_02">去看看</a>
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD170303442046&campaignId=1000420008&promotionCode=INST170695838006&openOrderNo=P201706131056009470025642047&payChannel=wxpay,alipay&accessChannel=h5
" class="btn btn_03">去看看</a>
                </div>
            </div>

            <div class="pannel pannel_03">
                <h3>特色医疗</h3>
                <p class="age">（ 个性化保障方案 ）</p>
                <p class="desc">1年期高性价比健康险，根据家人身体状况个性投保。</p>
                <ul class="slist">
                    <li><img src="../static/img/pannel_03_special_01.jpg" alt=""><a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD160514955015&promotionCode=INST170668017004&openOrderNo=P201706131050178090025642036&payChannel=wxpay,alipay&accessChannel=mobile
">去看看</a></li>
                    <li><img src="../static/img/pannel_03_special_02.jpg" alt=""><a href="https://mp.zhongan.com/health/gaoxueyaA/insure/index.html?_channel=ztgA&redirectType=h5&payChannel=wxpay,alipay&campaignId=null&1=1&promotionCode=INST170681717008:PRD160920778003
">去看看</a></li>
                    <li><img src="../static/img/pannel_03_special_03.jpg" alt=""><a href="https://mp.zhongan.com/health/gaoxueyaA/insure/index.html?_channel=ztgA&redirectType=h5&payChannel=wxpay,alipay&campaignId=null&1=1&promotionCode=INST170681717008:PRD160920778003
">去看看</a></li>
                </ul>
            </div>

            <div class="pannel_02 pannel_04">
                <div class="pannel">
                    <h3 class="mt15">旅行医疗</h3>
                    <p class="age">（ 门急诊 | 住院 | 医疗运送 ）</p>
                    <p class="desc">包揽出门旅行多项意外保障，自己放心，家人更放心。</p>
                </div>
                <div class="travel">
                    <img class="pic" src="../static/img/pannel_04_travel.jpg" alt="">
                    <a href="http://www.epicc.com.cn/wap/groupBuy/groupbuy/tg?id=65506819956&riskcode=EAJ
" class="btn btn_01">去看看</a>
                    <a href="http://www.epicc.com.cn/wap/groupBuy/groupbuy/tg?id=65506819956&riskcode=EAK_X
" class="btn btn_02">去看看</a>
                    <a href="http://www.epicc.com.cn/wap/groupBuy/groupbuy/tg?id=65506819956&riskcode=EAK_U
" class="btn btn_03">去看看</a>
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD160527224002&promotionCode=INST170635117006&openOrderNo=P201706131048017760025662988&payChannel=wxpay,alipay&accessChannel=mobile
" class="btn btn_04">去看看</a>
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD160436305017&promotionCode=INST170608417003&openOrderNo=P201706131054095360025642043&payChannel=wxpay,alipay&accessChannel=mobile
" class="btn btn_05">去看看</a>
                </div>
            </div>
        </div>
        <div class="m-footer">
            <div class="focus">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4NTM0Mzc0Nw==&scene=124#wechat_redirect
">+ 关注</a>
                <img src="../static/img/focus.png" alt="">
            </div>
            <ul class="attribution">
                <li>中国保险行业协会互联网保险信息披露备案</li>
                <li>新ICP备17000889号-4</li>
                <li>技术支持由新疆益盛鑫网络科技有限公司提供</li>
            </ul>
        </div>
    </section>
    <script src="../static/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $(".pannel_01 .list li a button").on("touchstart", function () {
                $(this).addClass("active");
            });
        })
    </script>
</body>
</html>