<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!-- WebApp全屏模式   隐藏地址栏-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=nom,email=no" name="format-detection">
    <!--禁止百度转码显示-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <script type="text/javascript" src="../static/common.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="g-index">

    </div>
</body>
</html>