<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自助理赔</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!-- WebApp全屏模式   隐藏地址栏-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no,email=no" name="format-detection">
    <!--禁止百度转码显示-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="keywords" content="自助理赔" />
    <meta name="description" content="自助理赔"/>
    <script type="text/javascript" src="../static/common.js"></script>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <!--百度统计代码-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a7b64a3f4b23f48a61ea0fd37413ba54";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body class="bg_f0">
    <section class="g-index">
        <div class="m-header">
            <img src="../static/img/index_bg.jpg" alt="探保网，保险理赔，安全保障">
            <div class="m-claims">
                <p><b></b>理赔流程</p>
                <table>
                    <tr>
                        <td><img src="../static/img/i_process_01.png" alt=""><p>拨打报案电话</p></td>
                        <td><img src="../static/img/i_process_02.png" alt=""><p>提交理赔资料</p></td>
                        <td><img src="../static/img/i_process_03.png" alt=""><p>审核及赔款计算</p></td>
                        <td><img src="../static/img/i_process_04.png" alt=""><p>领取赔款</p></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="m-claims m-container">
            <ul class="nav f-cb">
                <li href="javascript:;" class="active">报案电话</li>
                <li href="javascript:;">APP理赔</li>
                <p><b></b></p>
            </ul>
            <div class="content">
                <div class="con_list">
                    <ul>
                        <li>
                            <div class="flex">中华保险 &nbsp;&nbsp;</div>
                            <div class="flex">&nbsp;95518</div>
                            <div class="flex"><a href="tel:95518">我要报案</a></div>
                        </li>
                        <li>
                            <div class="flex">中国人保&nbsp;&nbsp;</div>
                            <div class="flex">&nbsp;95585</div>
                            <div class="flex"><a href="tel:95585">我要报案</a></div>
                        </li>
                        <li>
                            <div class="flex">中国平安&nbsp;&nbsp;</div>
                            <div class="flex">&nbsp;95511</div>
                            <div class="flex"><a href="tel:95511">我要报案</a></div>
                        </li>
                        <li>
                            <div class="flex">众安保险&nbsp;&nbsp;</div>
                            <div class="flex">1010-9955</div>
                            <div class="flex"><a href="tel:1010-9955">我要报案</a></div>
                        </li>
                        <li>
                            <div class="flex">中国人寿 &nbsp;&nbsp;</div>
                            <div class="flex">&nbsp;95519</div>
                            <div class="flex"><a href="tel:95519">我要报案</a></div>
                        </li>
                        <li>
                            <div class="flex">太平洋保险</div>
                            <div class="flex">95500</div>
                            <div class="flex"><a href="tel:95500">我要报案</a></div>
                        </li>
                        <li>
                            <div class="flex">北部湾保险</div>
                            <div class="flex">400-990-9999</div>
                            <div class="flex"><a href="tel:400-990-9999">我要报案</a></div>
                        </li>
                        <li>
                            <div class="flex">紫金保险&nbsp;&nbsp;</div>
                            <div class="flex">&nbsp;95312</div>
                            <div class="flex"><a href="tel:95312">我要报案</a></div>
                        </li>
                        <li>
                            <div class="flex">富德保险&nbsp;&nbsp;</div>
                            <div class="flex">400-669-5535</div>
                            <div class="flex"><a href="tel:400-669-5535">我要报案</a></div>
                        </li>
                    </ul>
                </div>
                <div class="con_list" style="display: none;">
                    <ul id="app_list" class="app_list f-cb">
                        <li><a href="javascript:;"><img src="../static/img/f_lofo_01.jpg" alt=""></a></li>
                        <li><a href="javascript:;"><img src="../static/img/f_lofo_02.jpg" alt=""></a></li>
                        <li><a href="javascript:;"><img src="../static/img/f_lofo_03.jpg" alt=""></a></li>
                        <li><a href="javascript:;"><img src="../static/img/f_lofo_04.jpg" alt=""></a></li>
                        <li><a href="javascript:;"><img src="../static/img/f_lofo_05.jpg" alt=""></a></li>
                        <li><a href="javascript:;"><img src="../static/img/f_lofo_06.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-footer">
            <ul>
                <li>中国保险行业协会互联网保险信息披露备案</li>
                <li>新ICP备17000889号-4</li>
                <li>技术支持由新疆益盛鑫网络科技有限公司提供</li>
            </ul>
        </div>
        <div id="popup" class="m-popup" style="display: none;">
            <div class="layershade"></div>
            <div class="layer_con">
                <div class="type_box">
                    <div class="child">
                        <img id="i_type" src="../static/img/pop_01.jpg" alt="">
                        <p>仅限车险</p>
                        <a id="pop_close" href="javascript:;"><img src="../static/img/close.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //弹窗
            $('#app_list li:not(:last)').on('click',function () {
                var title =['仅限车险','仅限医疗理赔','不限险种','仅限车险','支持车险及寿险'];
                var img_url = ['pop_01','pop_02','pop_03','pop_04','pop_05'];
                var index = $(this).index();
                $('#popup .child p').text(title[index]);
                $("#i_type").attr("src","../static/img/"+img_url[index]+".jpg");
                $('#popup').fadeIn(1000);
            });
            $('#pop_close').on('click',function () {
                $('#popup').fadeOut();
            });
            //切换
            $('.m-container .nav li').on('click',function () {
                var index = $(this).index();
                var width = $(this).width()+ 33;
                $(this).addClass('active').siblings().removeClass('active');
                $('.m-container .nav p').stop(false,true).animate({'left':index*width +'px'},300)
                $('.m-container .content .con_list').eq(index).fadeIn(200).siblings().hide();
            });
        })
    </script>
</body>
</html>