<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>益盛鑫科技-场景化保险解决方案提供商</title>
    <meta name="viewport" content="width=1200, initial-scale=1.0, minimum-scale=0.1, maximum-scale=0.3, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="益盛鑫,益盛鑫网络,互联网保险,保险综合技术,益盛鑫科技"/>
    <meta name="description" content="益盛鑫全称为新疆益盛鑫网络科技有限公司，成立于2015年7月，专注于为保险公司和第三方平台提供互联网保险综合技术解决方案。公司现已与41家保险公司、14家专业保险中介机构、50多家社会机构等形成战略合作关系，通过大数据将合作机构属性、营销渠道数据属性及产品属性完全融合。"/>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="bg_f5">
    <div class="g-index g-about">
        <!--导航-->
        <div class="bg_white">
            <div class="m-nav w1200 f-cb">
                <a class="u-logobox fl">
                    <img src="../static/img/logo.jpg" alt="">
                </a>
                <div class="u-nav fl">
                    <nav class="f-cb">
                        <a href="../index.html">首页</a>
                        <a class="on" href="about.html">关于我们</a>
                        <a href="jion.html">加入我们</a>
                        <a href="platform.html">开放平台</a>
                        <p style="left: 200px;"><b></b></p>
                    </nav>
                </div>
            </div>

        </div>
        <div class="m-abanner" style="">
            <ul class="f-cb">
                <li>
                    <p><em>55</em>家</p>
                    <span>保险合作供应商</span>
                </li>
                <li>
                    <p><em>57</em>个</p>
                    <span>百万级用户渠道</span>
                </li>
                <li>
                    <p><em>128</em>家</p>
                    <span>分支服务网点</span>
                </li>
            </ul>
        </div>
        <!--公司简介-->
        <div class="m-brief mt120 w1200">
            <h5><img src="../static/img/about/about_title1.png" alt=""></h5>
            <div class="u-content ">
                <p>益盛鑫全称为新疆益盛鑫网络科技有限公司，成立于2015年7月，专注于为保险公司和第三方平台提供互联网保险综合技术解决方案。公司现已与41家保险公司、14家专业保险中介机构、50多家社会机构等形成战略合作关系，通过大数据将合作机构属性、营销渠道数据属性及产品属性完全融合。</p>
                <p>公司在2015年打造了“最有价值互联网科技保险服务平台”，与此同时还通过了中国保险行业协会互联网保险销售的审批报备与公示，并与多家知名生活服务类互联网平台形成战略性合作，为其提供保险相关支撑服务，利用自身强大的资源整合能力及互联网技术手段使得保险产品能逐步融入用户的生活当中，让保险产品被动性营销模式转变为主动性营销模式。</p>
                <p>与一般的保险公司销售互联网保险不同，益盛鑫并不自己销售保险产品，而是发现、挖掘第三方平台/机构的保险产品需求，匹配合适的保险公司进行合作设计，并且更多的是为保险销售提供一个在线营销平台，提供用户教育、数据分析与技术支撑等服务。反过来，益盛鑫也能为传统保险公司匹配精准的C端用户群，通过互联网技术打通客户流量出口，拓宽线上销售渠道，突破传统中介营销渠道的瓶颈，提升成交效率。</p>
                <p>益盛鑫正在以强势的速度颠覆互联网保险平台的固有模式，而这种迅猛的流量打通能力却是后来者所无法复制的。截至目前，益盛鑫已实现千万级用户渠道接入通道，2017年第一季度保费规模已实现日翻20倍的同比增长。</p>
                <h5>从场景出发，设计创新型跨界保险</h5>
                <p>场景是用户与产品的连接点，一个合格的场景化保险产品必须能够满足用户在特定场景下触发的需求。场景因素在消费者决策中的影响效能不断放大，人们越来越愿意为特定的场景解决方案付费。</p>
                <p>当下保险产品的保险责任大部分并没有脱离传统保险产品的保险责任范围，它只是对保险责任进行了切割限定。而益盛鑫主攻的就是各种跨界场景的挖掘，与第三方平台/机构、保险公司共同探索创新型保险的场景植入，定制出符合现代人生活出行全场景潜在保险需求的产品。目前该平台已与数百家第三方平台达成合作共识，既有旅游、交通、医疗等传统企业，也有时下最热的游戏、生活、家财、金融、物流等行业佼佼者。</p>
                <h5>成熟的开发接口与平台，放大技术价值</h5>
                <p>益盛鑫本身具备一流软件研发、系统集成及大数据工程研发能力，尤其是在大数据分析与挖掘方面有深厚的人才储备和成熟模型架构力。一方面可为将已具备成熟的开发接口与平台，可开放给专业经代渠道机构使用；另一方面，在渠道、营销等环节也能提供技术支持和精准用户群投放服务，节约人工销售成本，提高产品传播范围和销售业绩。</p>
                <p>益盛鑫的定位是做“最有价值互联网科技保险服务平台”，未来将通过搭建平台、提供场景和产品出口，与保险机构一同推动行业“供给侧改革”，为第三方平台提供保险解决方案，把保险服务的价值发挥到极致。</p>
            </div>
            <p class="more" style="display: block"><a href="javascript:;">查看更多↓</a></p>
        </div>
        <!--媒体报道-->
        <div class="m-brief w1200 m-media">
            <h5 class="mtb40"><img src="../static/img/about/about_title2.png" alt=""></h5>
            <div class="m-mlist w1200">
                <ul class="f-cb">
                    <li>
                        <a target="_blank" href="http://finance.jrj.com.cn/biz/2017/04/17114522327382.shtml">
                            <img src="../static/img/about/about_logo1.png" alt="">
                            <h5>从益盛鑫看互联网保险的平台模式探索</h5>
                            <p class="textnum94">益盛鑫正在以强势的速度颠覆互联网保险平台的固有模式，而这种迅猛的流量打通能力却是后来者所无法复制的。截至目前，益盛鑫已实现千万级用户渠道接入通道，2017年第一季度保费规模已实现日翻20倍的同比增长。</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://industry.caijing.com.cn/20170417/4260740.shtml">
                            <img src="../static/img/about/about_logo5.png" alt="">
                            <h5>益盛鑫COO黄涛：真正的互联网保险平台要做到全融合</h5>
                            <p class="textnum94">益盛鑫的定位是做“最有价值的互联网保险服务平台”，未来将通过搭建平台、提供场景和产品出口，与保险机构一同推动行业“供给侧改革”，为第三方平台提供保险解决方案，把保险服务的价值发挥到极致。</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://insurance.cnfol.com/baoxiandongtai/20170419/24617363.shtml">
                            <img src="../static/img/about/about_logo4.png" alt="">
                            <h5>抢占互联网保险蓝海，快速打通客户流量出口是关键</h5>
                            <p class="textnum94">据了解，益盛鑫全称新疆益盛鑫网络科技有限公司，其本身具备一流软件研发、系统集成及大数据工程研发能力，尤其是在大数据分析与挖掘方面有深厚的人才储备和成熟模型架构力。</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://finance.southcn.com/qyxw/content/2017-05/08/content_170325673.htm">
                            <img src="../static/img/about/snlogo.gif" alt="">
                            <h5>益盛鑫肖捷：做互联网保险4.0时代的先导者</h5>
                            <p class="textnum94">益盛鑫经过两年的探索，明确打出“中国最有价值的互联网保险服务平台”的定位，宣称“2017年底要达到5个亿的保费规模”。近日，记者走进益盛鑫，对话CFO肖捷，深刻探讨互联网环境中益盛鑫的核心优势。</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.sohu.com/a/134455974_639064">
                            <img src="../static/img/about/souhu.png" alt="">
                            <h5>从场景出发，益盛鑫要打破固有互联网保险平台模式</h5>
                            <p class="textnum94">场景是用户与产品的连接点，一个合格的场景化保险产品必须能够满足用户在特定场景下触发的需求。场景因素在消费者决策中的影响效能不断放大，人们越来越愿意为特定的场景解决方案付费。</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://info.finance.hc360.com/2017/04/171104365333.shtml">
                            <img src="../static/img/about/huicong.gif" alt="">
                            <h5>益盛鑫黄涛：从场景出发，设计创新型跨界保险</h5>
                            <p class="textnum94">益盛鑫对各种跨界场景进行挖掘，与第三方平台/机构、保险公司共同探索创新型保险的场景植入，定制出符合现代人生活出行全场景潜在保险需求的产品。目前该平台已与数百家第三方平台达成合作共识，既有旅游、交通、医疗等传统企业，也有时下最热的游戏、生活、家财、金融、物流等行业佼佼者。</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.toutiao.com/i6409786333522297346/">
                            <img src="../static/img/about/jinritoutiao.png" alt="">
                            <h5>风口之上，看益盛鑫如何转型为具有价值的互联网保险服务平台</h5>
                            <p class="textnum94">今年，益盛鑫的目标是突破保险市场1%的份额。首先是紧跟互联网信息技术的步伐，其次是找准自身互联网保险平台的定位，快速反应、精准营销、第一时间抢占互联网保险市场份额。</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://invest.china.com.cn/quyu/2017/zhihuichengshi_0419/107995.html">
                            <img src="../static/img/about/china.com.cn.jpg" alt="">
                            <h5>抢占互联网保险蓝海，快速打通客户流量出口是关键</h5>
                            <p class="textnum94">做互联网保险平台不乏佼佼者，但要想率先抢占“互联网+保险”的蓝海，既要解决好人和资源的问题，又要用互联网技术做好管理和服务，快速打通客户流量出口，将流量转变为利润。</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.yidianzixun.com/home?page=article&id=0GIiE1xf">
                            <img src="../static/img/about/1d.jpg" alt="">
                            <h5>益盛鑫肖捷：我们要让“买卖保险”都更加智能化、人性化</h5>
                            <p class="textnum94">借力互联网先进技术，实现保险服务的智能化。从求着保险行业用我们的平台，到与保险供应商做朋友，再到成为保险供应商和互联网用户的智能连接器，精准匹配，让更优的服务实现三方互赢互利，同时也让互联网用户真真切切感受到——保险服务原来可以如此贴心，还能兼顾趣味性和实用性。</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.kejixun.com/article/170417/313590.shtml">
                            <img src="../static/img/about/kejixun.png" alt="">
                            <h5>从益盛鑫看互联网保险的平台模式探索</h5>
                            <p class="textnum94">益盛鑫的定位是做“最有价值的互联网保险服务平台”，未来将通过搭建平台、提供场景和产品出口，与保险机构一同推动行业“供给侧改革”，为第三方平台提供保险解决方案，把保险服务的价值发挥到极致。</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.china-insurance.com/news-center/newslist.asp?id=275709">
                            <img src="../static/img/about/zgbx.GIF" alt="">
                            <h5>抢占互联网保险蓝海，快速打通客户流量出口是关键</h5>
                            <p class="textnum94">互联网技术的应用，实质上是去人工化，在整个销售和交易环节做减法，优化中介的服务，提高代理人的工作效率，而非所谓的“去中介化”。好的互联网平台，能够起到连接器的作用，为消费者和保险中介代理人提供双向连接，建立起对彼此的信任与支持，进而产生保单交易。</p>
                        </a>
                    </li>
                </ul>
                <p class="more" style="display: block"><a href="javascript:;">查看更多↓</a></p>
            </div>
        </div>
        <!--我们的团队-->
        <div class="m-brief w1200 m-teams">
            <h5 class="mtb40"><img src="../static/img/about/about_title3.png" alt=""></h5>
            <div class="builder w1200">
                <ul class="f-cb">
                    <li>
                        <div class="position">
                            <img src="../static/img/about/about_team_1.png" alt="">
                            <p>曹建利</p><span>CEO 公司联合创始人</span>
                        </div>
                        <div class="pbrief">
                            <p>上海交通大学EMBA同学会务理事；中国成功IT和互联网创业家之一。历任酷讯总裁、家易天下有限公司创始人、大学生数字院线创始人；先后在中国网通、Transon新加坡公司等知名企业担任重要职位，拥有丰富的互联网营销经验和强大的执行力。</p>
                        </div>
                    </li>
                    <li>
                        <div class="position">
                            <img src="../static/img/about/about_team_2.png" alt="">
                            <p>肖捷</p><span>CFO 公司联合创始人</span>
                        </div>
                        <div class="pbrief">
                            <p>中山大学毕业，曾担任过国内知名单位财务总监、税务规划总监等职位，在会计、税务、财务管理及企业财务顾问服务等多个领域拥有20年以上的工作经验，具有丰富的金融人脉及渠道资源。</p>
                        </div>
                    </li>
                    <li>
                        <div class="position">
                            <img src="../static/img/about/about_team_3.png" alt="">
                            <p>黄涛</p><span>CTO/COO 公司联合创始人</span>
                        </div>
                        <div class="pbrief">
                            <p>曾任职于南广传媒电视移动、港迪集团、华迪云计算研究所、从兴电子技术有限公司、爱立信第一分公司、太平洋保险、平安保险，拥有丰富的市场策划及运营经验，对保险IT系统集成具有深刻的认识。 </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--团队建设-->
        <div class="m-brief w1200 disnone">
            <h5 class="mtb40"><img src="../static/img/about/about_title4.png" alt=""></h5>
            <div class="t-building w1200">
                <img src="../static/img/about/about_team_building.jpg" alt="">
            </div>
        </div>

        <div class="footer mt20">
            <div class="w1200">
                <div class="f-cb contact">
                    <ul class="f-cb fl mt30">
                        <li>
                            <p><b class="icon icon-contact1"></b>商务合作</p>
                            <a href="javascript:;"> <img style="width: 182px" src="../static/img/020.png" alt=""> marketing@ysxnet.com</a>
                        </li>
                        <li>
                            <p><b class="icon icon-contact2"></b>招聘邮箱</p>
                            <a href="javascript:;">hr@ysxnet.com</a>
                        </li>
                        <li>
                            <p><b class="icon icon-contact3"></b>客服热线</p>
                            <a href="javascript:;"><img src="../static/img/400.png" alt=""></a>
                        </li>
                    </ul>
                    <div class="fr ewm_box">
                        <ul>
                            <li>
                                <img src="../static/img/ewm_axb.png" alt="">
                                <p>安鑫宝服务号</p>
                            </li>
                            <li>
                                <img src="../static/img/ewm_tbyj.png" alt="">
                                <p>探保优家订阅号</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="put_file">总公司地址：新疆喀什地区喀什经济开发区深喀大道总部经济区川渝大厦16楼1610-2号</div>
                <div class="put_file">分公司地址：广州市天河区员村四横路122号玻璃厂（创意园）G8栋1楼</div>
                <div class="put_file">新疆益盛鑫网络科技有限公司 Copyright © 2017 备案/许可证编号为：新ICP备17000889号-2</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <script type="text/javascript">
        function showHide(clickId,shId,showLength,hideLength) {
            clickId.click(function () {
                if($(this).find('a').text() == '查看更多↓'){
                    $(this).find('a').text('收起↑');
                    shId.stop(true).animate({height:showLength},500)
                    return false;
                }else {
                    $(this).find('a').text('查看更多↓');
                    shId.stop(true).animate({height:hideLength},500);
                    return false;
                }
            })
        }
        $(function () {
            showHide( $('.g-about .mt120 .more '), $('.m-brief .u-content'),'690px','235px');
            showHide( $('.g-about .m-media .m-mlist .more '), $('.m-media .m-mlist>ul'),'1367px','1020px');
        })
    </script>
</body>
</html>