<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>益盛鑫科技-场景化保险解决方案提供商</title>
    <meta name="viewport" content="width=1200, initial-scale=1.0, minimum-scale=0.1, maximum-scale=0.3, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="益盛鑫,益盛鑫网络,互联网保险,保险综合技术,益盛鑫科技"/>
    <meta name="description" content="益盛鑫全称为新疆益盛鑫网络科技有限公司，成立于2015年7月，专注于为保险公司和第三方平台提供互联网保险综合技术解决方案。公司现已与41家保险公司、14家专业保险中介机构、50多家社会机构等形成战略合作关系，通过大数据将合作机构属性、营销渠道数据属性及产品属性完全融合。"/>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="bg_f5">
    <div class="g-index g-join">
        <!--导航-->
        <div class="bg_white">
            <div class="m-nav w1200 f-cb">
                <a class="u-logobox fl">
                    <img src="../static/img/logo.jpg" alt="">
                </a>
                <div class="u-nav fl">
                    <nav class="f-cb">
                        <a href="../index.html">首页</a>
                        <a href="about.html">关于我们</a>
                        <a class="on" href="jion.html">加入我们</a>
                        <a href="platform.html">开放平台</a>
                        <p style="left: 400px;"><b></b></p>
                    </nav>
                </div>
            </div>
        </div>
        <div class="m-abanner"></div>
        <div class="m-position w1200">
            <div class="nav_box f-cb">
                <span class="fl">职位：</span>
                <div class="pname fl"><a class="on" href="javascript:;">研发</a><a href="javascript:;">产品</a><a href="javascript:;">市场</a><a href="javascript:;">财务</a><a href="javascript:;">综合管理</a><b></b></div>

            </div>
            <div class="pdetail">
                <!--研发-->
                <div class="pd_list" style="display: block">
                    <div class="zhiwei">
                        <h5><b class="icon"></b>Java工程师</h5>
                        <p>10k-18k /广州 / 经验3-5年 / 本科及以上 </p>
                    </div>
                    <dl>
                        <dt>岗位要求：</dt>
                        <dd>1、熟练掌握Java语言、4年以上Java项目经验；</dd>
                        <dd>2、熟练使用SSH、SSM等前端框架；</dd>
                        <dd>3、熟练使用Mysql、Oracle等关系型数据库；</dd>
                        <dd>4、熟练使用的Tomcat、Nginx等应用服务器；</dd>
                        <dd>5、熟悉Linux操作系统；</dd>
                        <dd>6、熟练使用HTML5、CSS3、JQuery、Bootstrap、JSON等前端技术；</dd>
                        <dd>7、具有较强的逻辑分析和独立解决问题的能力；</dd>
                        <dd>8、具有良好的沟通、团队协作能力。</dd>
                    </dl>
                    <dl>
                        <dt>岗位职责：</dt>
                        <dd>1.从事java web的开发；</dd>
                        <dd>2.参与产品构思和架构设计；</dd>
                        <dd>3.撰写相关的技术文档；</dd>
                        <dd>4.完成软件的设计、开发、测试、修改bug等工作，包括业务需求的沟通，功能模块详细设计，业务功能实现与单元测试，系统维护。</dd>
                    </dl>
                    <div class="zhiwei mt30">
                        <h5><b class="icon"></b>需求工程师 </h5>
                        <p>10k-15k /广州 / 经验3-5年 / 本科及以上</p>
                    </div>
                    <dl>
                        <dt>岗位要求：</dt>
                        <dd>1、计算机相关专业大专以上学历，有较强的沟通和学习能力；</dd>
                        <dd>2、熟练掌握需求工程的标准流程，能使用原型需求法、需求分析及建模等需求方法和工具独立完成需求调研、需求分析、系统功能设计、需求传递、UAT测试等工作；</dd>
                        <dd>3、系统功能设计能力强，能通过建模、原型设计的方法快速将业务需求转化为系统需求；</dd>
                        <dd>4、有技术基础，能根据业务需求进行需求分析、系统分析，设计整体解决方案者优先，有数据分析或报表系统项目经验者优先，有互联网系统项目经验者优先。</dd>
                    </dl>
                    <dl>
                        <dt>岗位职责：</dt>
                        <dd>1.根据项目具体要求进行需求调研、分析，进行业务建模，系统分析，规划产品功能，设计产品原型，主动与业务同事、技术组进行沟通确认；</dd>
                        <dd>2.收集消费者市场宏观环境、同行系统相关信息，开展需求调研，分析业务流程，形成评估文档并制作原型图；</dd>
                        <dd>3.根据公司产品业务计划，进行常规及项目性的的市场调研，为新产品需求及老产品改进提供支持；</dd>
                        <dd>4. 参与需求评审会议，跟进需求评审意见，汇报并迭代修正需求，实现需求变更管控和产品生命周期管理；</dd>
                        <dd>5. 对项目需求进行把握，以客户角度对项目进行测试、验收等；</dd>
                        <dd>6. 需求交付开发后，及时更新产品使用帮助文档；</dd>
                        <dd>7. 需求测试上线后，培训相关用户正确使用系统。</dd>
                    </dl>
                </div>
                <!--产品-->
                <div class="pd_list">
                    <div class="zhiwei">
                        <h5><b class="icon"></b>前端工程师</h5>
                        <p>11k-15k /广州 / 经验1-3年 / 本科及以上</p>
                    </div>
                    <dl>
                        <dt>岗位要求：</dt>
                        <dd>1、熟练掌握HTML5、CSS3、JavaScript开发，熟练使用至少一种JS框架，至少有一个案例；</dd>
                        <dd>2、了解后台制作流程，能与设计师、程序员协同工作；</dd>
                        <dd>3、熟悉AngularJS、JQuery、easyui等主流开发框架 ，熟悉页面架构和布局；</dd>
                        <dd>4、熟悉XML、JSON等通讯格式 ；</dd>
                        <dd>5、如果对交互体验、可用性、用户体验有一定程度的理解优先考虑；</dd>
                        <dd>6、对web充满激情，热衷于开发优秀的基于web 的产品；</dd>
                        <dd>7、良好的沟通能力和团队协作精神，严谨的工作态度与高质量意识，良好的抗压能力。</dd>
                    </dl>
                    <dl>
                        <dt>岗位职责：</dt>
                        <dd>1.根据产品设计图开发前端代码，配合程序完成项目；</dd>
                        <dd>2.根据需求，分析并给出最优的前台技术解决方案。</dd>
                        <dd>3.完成软件的设计、开发、测试、修改bug等工作，包括业务需求的沟通，功能模块详细设计，业务功能实现与单元测试，系统维护。</dd>
                    </dl>
                    <div class="zhiwei mt30">
                        <h5><b class="icon"></b>产品助理</h5>
                        <p>10k-15k /广州 / 经验1-3年 / 本科及以上</p>
                    </div>
                    <dl>
                        <dt>岗位要求：</dt>
                        <dd>1、计算机相关专业大专以上学历；</dd>
                        <dd>2、熟练掌握需求工程的标准流程，能使用原型需求法、需求分析及建模等需求方法和工具独立完成需求调研、需求分析、系统功能设计、需求传递、UAT测试等工作；</dd>
                        <dd>3、系统功能设计能力强，能通过建模、原型设计的方法快速将业务需求转化为系统需求；</dd>
                        <dd>4、有较强的沟通和学习能力；</dd>
                        <dd>5、有技术基础，能根据业务需求进行需求分析、系统分析，设计整体解决方案者优先，有数据分析或报表系统项目经验者优先，有互联网系统项目经验者优先。</dd>
                    </dl>
                    <dl>
                        <dt>岗位职责：</dt>
                        <dd>1.根据项目具体要求进行需求调研、分析，进行业务建模，系统分析，规划产品功能，设计产品原型，主动与业务同事、技术组进行沟通确认；</dd>
                        <dd>2.收集消费者市场宏观环境、同行系统相关信息，开展需求调研，分析业务流程，形成评估文档并制作原型图；</dd>
                        <dd>3.根据公司产品业务计划，进行常规及项目性的的市场调研，为新产品需求及老产品改进提供支持；</dd>
                        <dd>4.参与需求评审会议，跟进需求评审意见，汇报并迭代修正需求，实现需求变更管控和产品生命周期管理；</dd>
                        <dd>5.对项目需求进行把握，以客户角度对项目进行测试、验收等；</dd>
                        <dd>6.需求交付开发后，及时更新产品使用帮助文档；</dd>
                        <dd>7.需求测试上线后，培训相关用户正确使用系统。</dd>
                    </dl>
                    <div class="zhiwei mt30">
                        <h5><b class="icon"></b>UI设计师</h5>
                        <p>8k-15k /广州 / 经验不限 / 大专及以上</p>
                    </div>
                    <dl>
                        <dt>岗位要求：</dt>
                        <dd>1、美术，视觉传达等相关专业，有1年以上互联网相关工作经验优先；</dd>
                        <dd>2、有H5设计、平面设计、品牌延展设计相关工作经验优先；</dd>
                        <dd>3、熟练驾驭各类UI设计风格，熟悉界面设计及交互趋势；</dd>
                        <dd>4、理解力强，善于沟通，性格活泼，风格强烈，团队合作意识强。</dd>
                    </dl>
                    <dl>
                        <dt>岗位职责：</dt>
                        <dd>1.负责营销活动平面设计、H5设计；</dd>
                        <dd>2.根据市场推广需求，完成线上物料设计；</dd>
                        <dd>3.负责与移动端、PC端的前端&后端合作，完成切图及设计标注；</dd>
                        <dd>4.熟练使用UI设计软件：Photoshop、CD，Illustrator等等，实现不同的平面设计及交互设计。</dd>
                    </dl>

                </div>
                <!--市场-->
                <div class="pd_list">
                    <div class="zhiwei">
                        <h5><b class="icon"></b>活动策划</h5>
                        <p>6k-12k /广州 / 经验3-5年 / 本科及以上</p>
                    </div>
                    <dl>
                        <dt>岗位要求：</dt>
                        <dd>1、要求必须对保险有一定了解，至少一年或以上互联网工作经验；</dd>
                        <dd>2、沟通能力强，健谈开朗，团队协作力好；</dd>
                        <dd>3、具备策划和推广相关理论基础和实战经验，对会员关系管理有一定的认知；</dd>
                        <dd>4、良好的文案、编辑能力，熟悉活动的流程及环节要素；</dd>
                        <dd>5、能熟练操作Axure的优先考虑。</dd>
                    </dl>
                    <dl>
                        <dt>岗位职责：</dt>
                        <dd>1.深度了解、分析客户需求，提供最有效的创意玩法或触发方式；</dd>
                        <dd>2.负责撰写活动策划案及细化活动执行流程，统筹推动活动的落地；</dd>
                        <dd>3.协助公司与客户的方案深度沟通，把握方案的策略方向，能够独立完成方案制作；</dd>
                        <dd>4.对结果负责，以引领、疏通的方式推动和协调可利用的资源，获取最大价值。</dd>
                    </dl>
                    <div class="zhiwei mt30">
                        <h5><b class="icon"></b>品牌策划</h5>
                        <p>6k-12k /广州 / 经验3-5年 / 本科及以上</p>
                    </div>
                    <dl>
                        <dt>岗位要求：</dt>
                        <dd>1、市场营销管理类、保险类或相关专业专科以上学历；</dd>
                        <dd>2、具有保险、金融、电子商务等行业的从业背景，有市场策划工作经验；</dd>
                        <dd>3、优秀的文案功底，有较强的创造性思维能力、创意概念及良好的沟通能力，演讲表达能力强、具备沟通、协调、组织计划等能力；</dd>
                        <dd>4、了解市场动态，依据市场变化适时策划制定整体促销案，策划定期的促销活动；</dd>
                        <dd>5、有一定的组织实施经验，监督、指导、落实促销活动的执行，有成功的策划案例者优先；</dd>
                        <dd>6、有综合运用包括广告策划、软文宣传、公关活动等在内的各种营销方式进行市场宣传、品牌推广的能力；</dd>
                        <dd>7、认真细致、严谨、服务意识强。</dd>
                    </dl>
                    <dl>
                        <dt>岗位职责：</dt>
                        <dd>1.负责商业情报的收集及信息平台的规划，研究市场的宏观方面的信息，包含市场动态、竞争品牌动向、产品与市场信息；</dd>
                        <dd>2.负责公司广告等对外宣传文案，实施有效的公关传播手段对产品进行宣传； </dd>
                        <dd>3.寻找与分析市场机会，整合资源，制定市场行销活动方案，并组织实施，实现产品推广和市场宣传；</dd>
                        <dd>4.进行企业及产品品牌宣传文案的策划、创意、撰写和执行；</dd>
                        <dd>5.策划与组织实施各种市场调研活动，对行业发展趋势和相关产业进行分析，发现行业的存在发展机会与威胁，以及组织对战略项目的调研和分析，发掘市场需求和变化，并完成相关可行性报告；</dd>
                        <dd>6.负责对各种产品宣传材料、销售支持物料、广告策划案、品牌推广方案等的撰写与策划；</dd>
                        <dd>7.为企业及产品品牌规划提出合理化建议，协助上级领导和有关部门制定品牌战略；</dd>
                        <dd>8.提高产品市场知名度，而相关产品或服务的信息传递给目标消费者，激发和强化其购买动机。</dd>
                    </dl>
                </div>
                <!--财务-->
                <div class="pd_list">
                    <div class="zhiwei">
                        <h5><b class="icon"></b>财务/核算员</h5>
                        <p>5k-11k /广州 / 经验3-5年 / 本科及以上</p>
                    </div>
                    <dl>
                        <dt>岗位要求：</dt>
                        <dd>1、大专以上学历，相关职位工作经验需2年以上，有核算工作经验优先；</dd>
                        <dd>2、了解国家税收政策，熟悉个人劳务税收征管实务；</dd>
                        <dd>3、熟练操作EXCEL办公软件；</dd>
                        <dd>4、工作细心，责任心强。</dd>
                    </dl>
                    <dl>
                        <dt>岗位职责：</dt>
                        <dd>1.按时统计、核算公司的各项费用；</dd>
                        <dd>2.整理黏贴支付单据，及时向财务请款结算；</dd>
                        <dd>3.对符合规定的原始凭证，进行整理、归类、粘贴，并核清凭证的张数；</dd>
                        <dd>4.负责会计凭证、帐簿、财务会计报告和其他会计资料的管理工作；</dd>
                        <dd>5.完成领导交办的其他工作。</dd>
                    </dl>
                </div>
                <!--综合管理-->
                <div class="pd_list">
                    <div class="zhiwei">
                        <h5><b class="icon"></b>商务助理（法务助理）</h5>
                        <p>3k-5k /广州 / 经验1-3年 / 本科及以上</p>
                    </div>
                    <dl>
                        <dt>岗位要求：</dt>
                        <dd>1、本科及以上学历，档案学、法务等专业优先；</dd>
                        <dd>2、2年相关工作经验，具备合同审核与管理相关专业知识；</dd>
                        <dd>3、具有较强的法律理解能力和法律文书写作；</dd>
                        <dd>4、做事细致，有责任心；较强的逻辑思维、良好的沟通表达及组织协调能力；</dd>
                        <dd>5、熟悉电脑、日常办公软件。</dd>
                    </dl>
                    <dl>
                        <dt>岗位职责：</dt>
                        <dd>1.起草、修订、审核、管理公司对外签订的各类合同及协议文件；并进行归档管理</dd>
                        <dd>2.负责检查、监督公司有关合同、协议的履行情况，协调解决有关合同、协议履行过程中出现的法律问题，避免产生合同纠纷；</dd>
                        <dd>3.为公司业务提供日常法律咨询，防范和控制法律风险；</dd>
                        <dd>4.完成领导临时交办的其他事项。</dd>
                    </dl>
                    <div class="zhiwei mt30">
                        <h5><b class="icon"></b>行政助理（文员） </h5>
                        <p>3k-4k /广州 / 经验1-3年 / 大专及以上</p>
                    </div>
                    <dl>
                        <dt>岗位要求：</dt>
                        <dd>1、协助行政经理完成公司行政事务工作及日常事务工作；</dd>
                        <dd>2、协助审核、修订公司各项管理规章制度，进行日常行政工作的组织与管理；</dd>
                        <dd>3、各项规章制度监督与执行；</dd>
                        <dd>4、协助行政经理进行内务、安全管理，为其他部门提供及时有效的行政服务；</dd>
                        <dd>5、负责公司快件及传真的收发及传递；</dd>
                        <dd>6、负责公司各部门办公用品的领用和分发工作；</dd>
                        <dd>7、做好材料收集、档案管理、文书起草、公文制定、文件收发等工作；</dd>
                        <dd>8、对外相关部门联络接待、对内接待来访、接听电话、解答咨询及传递信息工作；</dd>
                        <dd>9、协助办理面试接待、会议、培训、公司集体活动组织与安排，节假日慰问等；</dd>
                        <dd>10、协助行政经理做好公司各部门之间的协调工作。</dd>
                    </dl>
                    <dl>
                        <dt>岗位职责：</dt>
                        <dd>1.男女不限，有财务经验、持有C1驾照的优先考虑；</dd>
                        <dd>2.2年以上相关工作经验，有独立的工作和管理经验；</dd>
                        <dd>3.较强的协助和协调工作能力，能统筹的安排工作事宜；</dd>
                        <dd>4.能解决一般的行政管理问题，具有计划、组织、协调和人际沟通能力；</dd>
                        <dd>5.熟练的办公自动化设备和软件，包括计算机、传真机、复印机等；</dd>
                        <dd>6.工作态度认真细致、严谨、有责任心，服务意识强。</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="w1200">
                <div class="f-cb contact">
                    <ul class="f-cb fl mt30">
                        <li>
                            <p><b class="icon icon-contact1"></b>商务合作</p>
                            <a href="javascript:;"><img style="width: 182px" src="../static/img/020.png" alt=""> marketing@ysxnet.com</a>
                        </li>
                        <li>
                            <p><b class="icon icon-contact2"></b>招聘邮箱</p>
                            <a href="javascript:;">hr@ysxnet.com</a>
                        </li>
                        <li>
                            <p><b class="icon icon-contact3"></b>客服热线</p>
                            <a href="javascript:;"><img src="../static/img/400.png" alt=""></a>
                        </li>
                    </ul>
                    <div class="fr ewm_box">
                        <ul>
                            <li>
                                <img src="../static/img/ewm_axb.png" alt="">
                                <p>安鑫宝服务号</p>
                            </li>
                            <li>
                                <img src="../static/img/ewm_tbyj.png" alt="">
                                <p>探保优家订阅号</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="put_file">总公司地址：新疆喀什地区喀什经济开发区深喀大道总部经济区川渝大厦16楼1610-2号</div>
                <div class="put_file">分公司地址：广州市天河区员村四横路122号玻璃厂（创意园）G8栋1楼</div>
                <div class="put_file">新疆益盛鑫网络科技有限公司 Copyright © 2017 备案/许可证编号为：新ICP备17000889号-2</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/common.js"></script>
    <script>
        $('.m-position .nav_box .pname a').click(function () {
            $index = $(this).index();
            $width = $(this).width() * $index;
            $(this).siblings('b').stop(true).animate({left:$width},200);
            $(this).addClass('on').siblings().removeClass('on');
            $(this).parents('.m-position ').find('.pdetail').children('.pd_list').eq($index).fadeIn(200).siblings('.pd_list').hide();
        })
    </script>
</body>
</html>