<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>益盛鑫科技-场景化保险解决方案提供商</title>
    <meta name="viewport" content="width=1200, initial-scale=1.0, minimum-scale=0.1, maximum-scale=0.3, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="益盛鑫,益盛鑫网络,互联网保险,保险综合技术,益盛鑫科技"/>
    <meta name="description" content="益盛鑫全称为新疆益盛鑫网络科技有限公司，成立于2015年7月，专注于为保险公司和第三方平台提供互联网保险综合技术解决方案。公司现已与41家保险公司、14家专业保险中介机构、50多家社会机构等形成战略合作关系，通过大数据将合作机构属性、营销渠道数据属性及产品属性完全融合。"/>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="bg_f5">
<div class="g-index g-platform">
    <!--导航-->
    <div class="bg_white">
        <div class="m-nav w1200 f-cb">
            <a class="u-logobox fl">
                <img src="../static/img/logo.jpg" alt="">
            </a>
            <div class="u-nav fl">
                <nav class="f-cb">
                    <a href="../index.html">首页</a>
                    <a href="about.html">关于我们</a>
                    <a href="jion.html">加入我们</a>
                    <a class="on" href="platform.html">开放平台</a>
                    <p style="left: 600px;"><b></b></p>
                </nav>
            </div>
        </div>
    </div>
    <div class="m-abanner"></div>
    <div class="footer">
        <div class="w1200">
            <div class="f-cb contact">
                <ul class="f-cb fl mt30">
                    <li>
                        <p><b class="icon icon-contact1"></b>商务合作</p>
                        <a href="javascript:;"><img style="width: 182px" src="../static/img/020.png" alt=""> marketing@ysxnet.com</a>
                    </li>
                    <li>
                        <p><b class="icon icon-contact2"></b>招聘邮箱</p>
                        <a href="javascript:;">hr@ysxnet.com</a>
                    </li>
                    <li>
                        <p><b class="icon icon-contact3"></b>客服热线</p>
                        <a href="javascript:;"><img src="../static/img/400.png" alt=""></a>
                    </li>
                </ul>
                <div class="fr ewm_box">
                    <ul>
                        <li>
                            <img src="../static/img/ewm_axb.png" alt="">
                            <p>安鑫宝服务号</p>
                        </li>
                        <li>
                            <img src="../static/img/ewm_tbyj.png" alt="">
                            <p>探保优家订阅号</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="put_file">总公司地址：新疆喀什地区喀什经济开发区深喀大道总部经济区川渝大厦16楼1610-2号</div>
            <div class="put_file">分公司地址：广州市天河区员村四横路122号玻璃厂（创意园）G8栋1楼</div>
            <div class="put_file">新疆益盛鑫网络科技有限公司 Copyright © 2017 备案/许可证编号为：新ICP备17000889号-2</div>
        </div>
    </div>
</div>
</body>
</html>