@charset "utf-8";
/*@media screen and (min-width: 768px) {html {font-size: 38.4px;}html,body {max-width: 768px;margin: 0 auto;min-height: 100%;}}*/
html,body {
    -webkit-user-select:none;
    user-select: none;
}
a,body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,label,li,ol,p,select,span,table,td,textarea,th,tr,ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: 16px;
    font-family:"Microsoft Yahei",Arial,"Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    color:#333;
    line-height: 1.2;
    letter-spacing: 1px;
    -webkit-text-size-adjust:100%;
}
ul,li,dl,dt,dd {
    list-style: none
}
a,a:visited {
    text-decoration: none;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
input::-webkit-input-speech-button {
    display: none;
}
button,input,select,textarea {
    outline: medium none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
button,input{
    border: none;
    background: transparent
}
textarea {
    resize: none;
}
img {
    width: 100%;
    vertical-align: middle
}
._ellipsis{
    display:block;/*内联对象需加*/
    width:21em; /*根据情况重新定义*/
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.f-cb:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.fl {
    float: left
}
.fr {
    float: right
}
.tc {
    text-align: center;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 10px;
}
.mt30 {
    margin-top: 0.3rem;
}
.mt50 {
    margin-top: 50px;
}
/*  m-banner  */
.season-index .m-header {
    background: linear-gradient(to bottom,#ffffff,#efefef);
    height: 0.55rem;
    padding: 0 0.25rem;
}
.season-index .m-header .logo-img {
    width: 1.45rem;
    margin-top: 0.065rem;
}
.season-index .m-header a:last-child {
    border-right: none;
}
.season-index .m-header p {
    margin-left: -0.052rem;
    background: linear-gradient(to bottom,#ffffff,#efefef);
    margin-top: 0.13rem;
}
.season-index .m-header p a {
    display: block;
    float: left;
    font-size: 0.22rem;
    border-right: 1px solid #b7ddf9;
    padding: 0 0.11rem;
}
.season-index .m-header p a img {
    width: 0.27rem;
    margin-right: 0.05rem;
    vertical-align: -2px;
    margin-top: -1px;
}
.season-index .m-container .pannel {
    background: #7661f7;
    padding: 0.25rem 0.65rem;
    border-bottom: 1px dashed #fff;
    margin-top: 1px;
}
.season-index .m-container .pannel ul {
}
.season-index .m-container .pannel ul li {
    position: relative;
    border-radius: 0.1rem;
    border: 0.03rem solid #fff;
    margin-bottom: 0.5rem;
    text-align: center;
    padding: 0 0.3rem;
}
.season-index .m-container .pannel ul li p {
    position: relative;
    color: #fff;
    font-size: 0.23rem;
    line-height: 1.5;
}
.season-index .m-container .pannel ul li .subsidies {
    margin-right: -1.1rem;
    margin-top: 0.08rem;
}
.season-index .m-container .pannel ul li p:after {
    display: block;
    position: absolute;
    bottom: -0.1rem;
    left: -2.5%;
    width: 95%;
    height: 1px;
    border-bottom: 1px solid #fff;
}