<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>无保险不远游-国内游-自驾游</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!-- WebApp全屏模式   隐藏地址栏-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no,email=no" name="format-detection">
    <!--禁止百度转码显示-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="keywords" content="自助理赔" />
    <meta name="description" content="自助理赔"/>
    <link rel="stylesheet" href="../../static/style.css">
    <script type="text/javascript" src="../../static/common.js"></script>
    <!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a7b64a3f4b23f48a61ea0fd37413ba54";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body class="bg_e8">
    <section class="g-travel_list g-travel_team">
        <div class="m-head"><img src="../../static/img/in_myself_head.jpg" alt=""></div>
        <div class="m-list">
            <ul>
                <li>
                    <a href="http://www.epicc.com.cn/wap/views/proposal/E/EAK_X/EAK_XIndex.jsp">
                        <img src="../../static/img/in_myself_list_01.jpg" alt="">
                        <section class="title f-cb">
                            国内旅游-神州自驾保险<span class="fr">由人保直销</span>
                        </section>
                        <p class="des f-cb">
                            高额保障，赠7*24小时全国紧急救援<strong class="fr">¥8.00</strong>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD160550924006&promotionCode=INST170684717007&openOrderNo=P201706131055032640025663004&payChannel=wxpay,alipay&accessChannel=mobile">
                        <img src="../../static/img/in_team_list_01.jpg" alt="">
                        <section class="title f-cb">
                            亲子旅行意外险<span class="fr">由众安直销</span>
                        </section>
                        <p class="des f-cb">
                            亲子共享 | 意外保障 | 食物中毒 | 酒店取消 <strong class="fr">¥5.00</strong>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD161199706024&promotionCode=INST170614232013&openOrderNo=P201706221037404420026587687&payChannel=wxpay,alipay&accessChannel=h5">
                        <img src="../../static/img/in_myself_list_03.jpg" alt="">
                        <section class="title">安心骑意外险 <span class="fr">由众安直销</span></section>
                        <p class="des f-cb">摩托车驾驶意外医疗<strong class="fr">¥20.00</strong></p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="m-footer">
            <div class="focus">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzA4NTM0Mzc0Nw==&amp;scene=124#wechat_redirect&#10;">+ 关注</a>
                <img src="../../static/img/focus.png" alt="">
            </div>
            <ul class="attribution">
                <li>中国保险行业协会互联网保险信息披露备案</li>
                <li>新ICP备17000889号-4</li>
                <li>技术支持由新疆益盛鑫网络科技有限公司提供</li>
            </ul>
        </div>
    </section>
</body>
</html>