<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>有保险不怕意外</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <!-- WebApp全屏模式   隐藏地址栏-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no,email=no" name="format-detection">
    <!--禁止百度转码显示-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="keywords" content="有保险不怕意外"/>
    <meta name="description" content="有保险不怕意外"/>
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript">
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if (clientWidth >= 640) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                    }
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
    <!--百度统计代码-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a7b64a3f4b23f48a61ea0fd37413ba54";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body class="bg_e8">
<section class="g-accident">
    <header class="m-head">
        <h1><img src="../static/img/logo_accident.png" alt=""></h1>
        <div class="banner"><img src="../static/img/accident_01.png" alt=""></div>
    </header>
    <div class="m-content">
        <div class="tab_nav">
            <p>为您推荐</p>
            <div class="nav_list f-cb">
                <a class="all active" href="javascript:;">全部</a>
                <a class="sgsc" href="javascript:;">身故伤残</a>
                <a class="ylbc" href="javascript:;">医疗补偿</a>
                <a class="zyjt" href="javascript:;">住院津贴</a>
                <a class="jtyw" href="javascript:;">交通意外</a>
                <a class="sts" href="javascript:;">烧烫伤</a>
                <a class="jhc" href="javascript:;">救护车</a>
                <a class="jxb" href="javascript:;">急性病</a>
            </div>
        </div>
        <div class="list" id="list">
            <ul>
                <li class="sgsc ylbc jtyw">
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD160600129006&promotionCode=INST170612353014&openOrderNo=P201706261527020000026945579&payChannel=wxpay,alipay&accessChannel=mobi">
                        <img src="../static/img/accident_list_01.jpg" alt="">
                        <p>个人综合意外险<strong class="fr">¥140.00</strong></p>
                    </a>
                </li>
                <li class="sgsc ylbc zyjt jhc">
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD161057345018&campaignId=1000420008&promotionCode=INST170664432012&openOrderNo=P201706221050561000026587767&payChannel=wxpay,alipay&accessChannel=h">
                        <img src="../static/img/accident_list_02.jpg" alt="">
                        <p>老年人综合意外险<strong class="fr">¥90.00</strong></p>
                    </a>
                </li>
                <li class="sgsc jtyw">
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD170509250069&promotionCode=INST170647411021&openOrderNo=P201706221049536520026608680&payChannel=wxpay,alipay&accessChannel=mobile">
                        <img src="../static/img/accident_list_03.jpg" alt="">
                        <p>老年人全面意外险<strong class="fr">¥30.00</strong></p>
                    </a>
                </li>
                <li class="sgsc jtyw">
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD170509250069&promotionCode=INST170647411021&openOrderNo=P201706221049536520026608680&payChannel=wxpay,alipay&accessChannel=mobile">
                        <img src="../static/img/accident_list_04.jpg" alt="">
                        <p>航空意外险<strong class="fr">¥20.00</strong></p>
                    </a>
                </li>
                <li class="sgsc ylbc jtyw">
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD170509250069&promotionCode=INST170647411021&openOrderNo=P201706221049536520026608680&payChannel=wxpay,alipay&accessChannel=mobile">
                        <img src="../static/img/accident_list_05.jpg" alt="">
                        <p>安心骑意外险<strong class="fr">¥20.00</strong></p>
                    </a>
                </li>
                <li class="sgsc ylbc jtyw zyjt">
                    <a href="https://open.zhongan.com/standard/insure/productShowPageMobile.htm?productCode=PRD170509250069&promotionCode=INST170647411021&openOrderNo=P201706221049536520026608680&payChannel=wxpay,alipay&accessChannel=mobile">
                        <img src="../static/img/accident_list_06.jpg" alt="">
                        <p>通行无忧<strong class="fr">¥180.00</strong></p>
                    </a>
                </li>
                <li class="sgsc ylbc jxb">
                    <a href="https://product.implus100.com/portal/product/P13?cid=1">
                        <img src="../static/img/accident_list_07.jpg" alt="">
                        <p>如意人生综合意外险<strong class="fr">¥100.00</strong></p>
                    </a>
                </li>
                <li class="sgsc ylbc zyjt jhc">
                    <a href="https://product.implus100.com/portal/product/P16?cid=1">
                        <img src="../static/img/accident_list_08.jpg" alt="">
                        <p>综合意外险<strong class="fr">¥100.00</strong></p>
                    </a>
                </li>
                <li class="sgsc zyjt">
                    <a href="http://www.epicc.com.cn/wap/views/proposal/L/LDT_E/LDTIndex.jsp">
                        <img src="../static/img/accident_list_09.jpg" alt="">
                        <p>美满e家组合保险<strong class="fr">¥2.00</strong></p>
                    </a>
                </li>
                <li class="sgsc jtyw">
                    <a href="http://www.epicc.com.cn/wap/views/proposal/E/EJQ_Z/EJQ_ZIndex.jsp">
                        <img src="../static/img/accident_list_10.jpg" alt="">
                        <p>交通工具意外险<strong class="fr">¥5.00</strong></p>
                    </a>
                </li>
                <li class="sgsc ">
                    <a href="http://www.epicc.com.cn/wap/views/proposal/E/EJQ_H/EJQ_HIndex.jsp">
                        <img src="../static/img/accident_list_11.jpg" alt="">
                        <p>航空意外年度保险<strong class="fr">¥9.00</strong></p>
                    </a>
                </li>
                <li class="sgsc ylbc jtyw">
                    <a href="https://product.implus100.com/portal/product/P57">
                        <img src="../static/img/accident_list_12.jpg" alt="">
                        <p>驾乘无忧<strong class="fr">¥30.00</strong></p>
                    </a>
                </li>
                <li class="sgsc ylbc jtyw zyjt">
                    <a href="https://product.implus100.com/portal/product/P14">
                        <img src="../static/img/accident_list_13.jpg" alt="">
                        <p>如意行（家庭版）出行意外险<strong class="fr">¥360.00</strong></p>
                    </a>
                </li>
                <li class="sgsc ylbc zyjt">
                    <a href="https://product.implus100.com/portal/product/P17">
                        <img src="../static/img/accident_list_14.jpg" alt="">
                        <p>驾乘保险<strong class="fr">¥199.00</strong></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-footer">
        <div class="focus">
            <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzA4NTM0Mzc0Nw==&amp;scene=124#wechat_redirect&#10;">+
                关注</a>
            <img src="../static/img/focus.png" alt="">
        </div>
        <ul class="attribution">
            <li>中国保险行业协会互联网保险信息披露备案</li>
            <li>新ICP备17000889号-4</li>
            <li>技术支持由新疆益盛鑫网络科技有限公司提供</li>
        </ul>
    </div>
</section>
<script type="text/javascript" src="../static/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        function doTab(arr) {
            console.log(arr.length);
            $('#list li').show();
            $('#list li').each(function () {
                for (var i = 0; i < arr.length; i++) {
                    console.log(arr[i]);
                    if (!$(this).hasClass(arr[i])) {
                        $(this).hide();
                        return;
                    }
                    $(this).show();
                }
            })
        }

        var selectTab = [];
        $('.nav_list a').on('click', function () {
            //选项切换\
            if ($(this).hasClass('active')) {
                if ($(this).hasClass('all')) {
                    $(this).addClass('active');
                    selectTab = [];
					doTab(selectTab)
					return
                }
                $(this).removeClass("active");
                selectTab.splice(selectTab.indexOf($(this).attr('class')), 1);
                doTab(selectTab)
            } else {
			
			

                if ($('.nav_list .all').hasClass('active')) {
                    $('.nav_list  a').removeClass("active");
                    selectTab = [];
                }
                if ($(this).hasClass('all')) {
                    selectTab = [];
                    $('.nav_list  a:not(".all")').removeClass("active");
					  doTab(selectTab);
					   $(this).addClass("active");
					  return 
                }
                selectTab.push($(this).attr('class'));
                doTab(selectTab);
                $(this).addClass("active");
                if ($('.nav_list a:not(".all").active').length == 7) {
                    $('.nav_list a').removeClass("active");
                    $('.nav_list .all').addClass("active");


                    selectTab = ['sgsc', 'ylbc', 'zyjt', 'stc', 'jhc', 'jxb'];
                    doTab(selectTab);
                }
            }
        })
    })
</script>
</body>
</html>